.chat{
    background-color: teal;
    margin: 40px 20px 40px ;
    padding: 10px 5px 10px;
    width: 400px;
    height: 250px;
    display: flex;
    padding-left: 20px;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
   padding-right: 15px;
   color: white;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.msg{
    background-color: rgba(255, 255, 255, 0.84);
    color:black;
    border-radius: 5px;
}
.form-main{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}


